extends base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(type="password", required, name="curPass", placeholder="Current Password")
        input(type="password", required, name="newPass", placeholder="New Password")
        input(type="password", required, name="newPass2", placeholder="Confirm Password")
        input(type="submit", value="Change Password")