extends base

block content
    div
        h4 You are now logged in as #{user.name}
    div
        span your email account: #{user.email}
    div
        span your current password: tempPass
    div
        span It's highly recommended to change your passowrd asap.