extends base.pug
include mixins/video.pug

block content
    h1 home
    a(href="/search") Search
    if videos.length
        each video in videos
            +video(video)
    else             
        div Sorry nothing found
