extends base.pug
include mixins/video.pug

block content
    div.video-grid
        each video in videos
                +video(video)
                +video(video)
                +video(video)
        else             
            div.empty__message No videos found
