extends base

block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(type="email", name="email", required, placeholder="Email")
        input(type="password", name="password", required, placeholder="Password")
        input(type="submit", value="Log in")
        include partials/social-login
    div.auth-switch
        span Don't have an account yet? 
        a(href="/join").auth-switch__btn Make an account &rarr;