extends base
include mixins/video

block content
    form.search-form
        input(type="text", name="keyword", placeholder="Search for...").search-form__input
        button
            i.fas.fa-search
    if videos
        div.video-grid
            each video in videos
                +video(video)
