extends base
include mixins/video

block content
    form
        input(type="text", name="keyword", placeholder="Search for...")
        input(type="submit", value="Search")

    if videos
        each video in videos
            +video(video)
