extends base.pug

block content
    if (errorMessage)
        div #{errorMessage} 
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", required, name="video", id="video", accept="video/*")
        input(name="title", placeholder="Title", required, maxlength=80)
        input(name="description", placeholder="Description", required, maxlength=80)
        input(name="hashtags", placeholder="Hashtags, seperated by commas", required, maxlength=80)
        input(value="upload", type="submit")

block scripts
    script(src="/assets/js/recorder.js")